[submodule "src/main/webapp/WEB-INF/inventory-management-system-reactjs"]
	path = src/main/webapp/WEB-INF/inventory-management-system-reactjs
	url = https://github.com/jeromeviray/inventory-management-system-reactjs.git
